/*Inizio common*/
*{
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer{
    width: 80%;
    margin: auto;
}

.banner, .banner-1, .overlay, .left-box-img, .right-box-img{
    border-radius: 10px;
}

.footer-text, .side-par, .box-title{
    color: rgb(165, 161, 161);
}

.link, .subtitle{
    color: rgb(165, 161, 161);
}

.subtitle, .footer-text, .side-par, .banner-par{
    font-size: 12px;
}
/*Fine common*/

/*Inizio header*/
header{
    margin-bottom: 2%;
}

.logo{
    display: inline-block;
    margin-bottom: 0px;
}

.logo-img{
    width: 45%;
    padding-right: 15px;
    border-right: solid rgba(208, 208, 208, 0.5) 1px;
}

nav{
    margin-bottom: 30px;
}

.nav-choice, .logo{
    padding: 0px;
}

.nav-choice .choice{
    display: inline;
    list-style: none;
}

.link{
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
}
/*Fine header*/



/*Inizio main*/
main{
    position: relative;
}

/*Inizio banner*/
.banner{
    font-size: 0px;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
}

.banner-1{
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.overlay{
    background-color: gray;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-txt{
    display: inline-block;
    width: 50%;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.banner-title{
    position: relative;
    z-index: 9;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 0px;
}

.banner-par{
    position: relative;
    color: white;
    z-index: 10;
    margin-top: 0px;
}
/*Fine banner*/


/*Inizio content general*/
.content{
    margin-top: 0px;
    box-sizing: border-box;
    width: 100%;
}

.content:after{
    content: "";
    display: table;
    clear: both;
}

.left-box, .central-box{
    float: left;
}

.right-box{
    float:right
}

.central-box{
   width: 54%;
   margin-left: 2%;
   margin-right: 2%;  
    
}

.left-box, .right-box{
   width: 21%;
}
/*Fine content general*/

/*Inizio content header*/
.content-header{
    width: 100%;
    margin-bottom: 2%;
}

.main-title{
    font-size: 25px;
    margin: 0px;
}
/*Fine content header*/

/*Inizio left box*/
.left-box-img, .right-box-img{
    position: relative;
    margin-bottom: 0px;
}

.icona-1, .icona-3, .icona-2{
    width: 100%;
    height: 150px;
    z-index: 9;
    object-fit: cover;
}

.box-title{
    font-size: 13px;
    margin-top: 0px;
}
/*Fine left box*/
/*Fine content*/


/*Inizio footer*/
.footer{
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.heart{
    line-height: 50px;
    font-size: 20px;
    color: red;
}

.footer-text{
    line-height: 50px;
    vertical-align: middle;
}
/*Fine footer*/